services:
  - type: web
    name: sarisari-store
    env: python
    plan: free
    buildCommand: |
      chmod +x render_build.sh
      ./render_build.sh
    startCommand: gunicorn main.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "True"
      - key: DATABASE_URL
        fromDatabase:
          name: sari-sari-db
          property: connectionString
